*{
    margin: 0;
    padding: 0
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.left-menu{
    display: flex;
    flex: 1;
}

.menu{
    margin-top: 10px;
}

.logo{
    margin-left: 20px;
}

.search{
    flex: 3;
    text-align: center;
}

.search > input {
    width: 500px;
    height: 30px;
}

.search > button {
    height: 33px;
}

.right-menu{
    flex: 1;
    align-items: c;
}

header > ul{
    display: flex;
    list-style: none;
    padding-top: 20px;
}

header > ul > li{
    padding: 0px 10px
}

header > ul > li > img{
    border-radius: 50%;
    margin-bottom: 15px;
}

.content-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.media{
    flex: 2;
}

.suggestions{
    flex: 1;
}

.suggestions > ul > li {
    display: flex;
}