* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 10px auto;
}

.lista-der-top {
  display: inline;
  position: relative;
  left: 80%;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.lista-izq {
  display: inline;
  position: relative;
  font-size: 12px;
  text-align: center;
}

.menu {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.menu:hover {
  text-decoration-line: underline;
}

img,
.search-bar,
form,
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 30%;
  margin-top: 10%;
}

form {
  width: 50%;
  height: 44px;
  border-radius: 25px;
  margin-top: 5px;
  border: solid 1px #dfe1e5;
}

.search-bar {
  width: 90%;
  padding-top: 17px;
}

input {
  margin-top: 10px;
  width: 90%;
  font-size: 20px;
  border: none;
}

.button-1,
.button-2 {
  border: none;
  padding: 10px 10px;
  margin: 20px;
  border-radius: 4px;
}

.button-1:hover,
.button-2:hover {
  border: solid 1px rgb(163, 162, 162);
}

a {
  text-decoration: none;
  color: grey;
}

footer {
  margin-top: 75px;
}

.footer-1,
.footer-2 {
  padding: 14px;
}

.lista-1 {
  display: flex;
}

.p,
.n,
.a,
.co,
.c,
.pri,
.pr {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.p :hover,
.n :hover,
.a :hover,
.co :hover,
.c :hover,
.pri :hover,
.pr :hover {
  text-decoration-line: underline;
}

.blanco {
  flex: 4;
}
