*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.top-nav-bar{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

header{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    text-transform: uppercase;
    
}

.fender-icon, .search{
    display: flex;
    align-items: center;
    flex: 1;
}

.fender-icon img{
    height: 60px;
}

.nav-products{
    display: flex;
    align-items: center;
    flex: 5;
    font-weight: 600;
}

.nav-products, .search{
    justify-content: flex-end;
    margin-right: 25px;
}

.search img{
    height: 30px;
}

.top-nav-bar, header{
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    font-size: 13px;
    color: #666;
}

.top-nav-bar li, .nav-products li{
    list-style: none;
}

.top-nav-bar li{
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}

.top-nav-bar li:hover, header li:hover{
    color: rgb(230, 9, 9);
    cursor: pointer;
}

.slide-show{
    text-align: center;
    position: relative;
}

.slide-show-img{
    margin: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.controls{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%) ;    
}

.controls button{
    padding: 5px;
    background-color: rgb(73, 72, 72);
    border: none;
    border-radius: 3px;
    width: 3%;
}

.controls button:hover{
    transition: ease-in;
    background-color: rgb(58, 57, 57);
    cursor: pointer;
}

.tendencias-wrapper h2{
    text-align: center;
    margin: 30px;
}

.tendencias{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    text-align: center;
    font-size: 26px;
    border-top: solid 1px rgb(155, 151, 151);
    text-transform: capitalize;
}

.tendencia img{
    width: 286px;
    margin-top: 10px;
}

.tendencia-nombre, .tendencia-descripcion{
    padding: 15px;
}

.tendencia-nombre{
    border-bottom: solid 1px rgb(155, 151, 151);
    margin: 20px;
}

.conocer-mas{
    background-color: #d52b1e;
    border-color: #d52b1e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 30%;
}

.conocer-mas:hover{
    background-color: rgb(151, 23, 23);
    cursor: pointer;
}

footer{
    background-color: rgb(22, 22, 22);
    color: rgb(155, 151, 151);
    margin-top: 30px;
}

.fender-icon-footer img{
    width: 15%;
}

.footer-info-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    margin: 7% 2%;
}

.footer-info-grid ul, .left-copyright, .right-copyright ul{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    
}

.footer-info-grid{
    border-top: solid 1px rgb(155, 151, 151);
}

.footer-info-grid h4{
    color: white;
    margin-top: 5px;

}

.nav-products li,.footer-info-grid h4,.footer-info-grid li{
    padding-right: 20px;
}

.nav-products li{
    height: 100%;
}

.nav-products h4{
    position: relative;
    top: 30px;
    transform: translateY(-50%);
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 1%;
    padding: 4% 0%;
}

.footer-info-grid h4{
    padding-bottom: 15px;
}
.footer-info-grid li{
    padding-bottom: 15px;
}

.right-copyright ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav-products-hover{
    display: none;
    border-top: solid 1px rgb(204, 204, 204);
}

.nav-products li:hover .nav-products-hover{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    left: 0;
    margin-top: 40px;
    z-index: 1;
    width: 100%;
    background-color: white;
    color: #666;
    column-gap: 20px;
    text-align: center;
}

.products-list h5{
    font-size: 20px;
    padding-top: 10px;
}

.products-list ul{
    margin: 20px;
    padding-top: 10px;
    border-top: solid 1px black;
}

.products-list li{
    margin: 10px;
    text-align: left;
}

@media screen and (max-width: 1185px) {
    .search{
        justify-content: center;
        padding: 0;
        
    }

    .tendencias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .search, .tendencia-nombre, .conocer-mas, .nav-products{
        margin: 0;
    }
    
    .nav-products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
    }

    .footer-info-grid{
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-info-grid li{
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    body{
        text-align: center;
    }
    
    .search{
        display: none;
    }

    .tendencias{
        display: flex;
        flex-direction: column;
    }

    .search, .tendencia-nombre, .conocer-mas, .nav-products{
        margin: 0;
    }
    
    .nav-products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer-info-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-info-grid li{
        padding-bottom: 15px;
    }

    .copyright, .right-copyright ul{
        flex-direction: column;
        
    }

    
}


