*{
    margin: 0;
    padding: 0;
}

body{
    
}

header{
    display: flex;
    padding: 7px 0px;
    border-bottom: rgb(173, 173, 173) 1px solid;
    align-items: center;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    
}

header ul{
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
}

.title{
    flex: 4;
    text-align: center;
}

.title svg{
    width: 20%;
}

.news-title{
    text-align: left;
    margin: 0% 25%;
    margin-top: 40px;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
}



 .sign-options{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.sign-options button{
    background-color: rgb(86, 123, 149);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px;
}

.sign-options button:hover{
    background-color: rgb(62, 90, 109);
    cursor: pointer;
}

.picture{
    margin: 0% auto;
    text-align: center;
}

figcaption{
    margin: 0% auto;
    width: 1024px;
    text-align: left;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.content{
    margin: 5% 30%;
    text-align: left;
}

.name-editor{
    font-weight: 700;
}

.media-links{
    display: flex;
    list-style: none;
    padding: 10px;
    text-align: right;
    justify-content: flex-end;
}

.media-links button{
    background-color: white;
    border: none;
    
}

.media-links svg{
    background-color: rgb(202, 199, 199);
    border: none;
    height: 20px;
    width: 20px;
    padding: 3px;
    border-radius: 30px;
    margin-left: 3px;
}

.media-links svg:hover{
    background-color: white;
    border: solid black 1px;
}

p{
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.info-grid{
    margin: 5% 20%;
    text-align: center;
    position: relative;
   
    
}

.info-grid-picture{
    width: 100%;
    text-align: center;
}

.grid{
    position: absolute;
    top: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 11px;
    column-gap: 5vh;
    row-gap: 20vh;
}

.tile-text{
    width: 25vh;
    text-align: left;
}

