*{
    margin: 0px;
    padding: 0px;
}

body{
    
    background-image: url(./src/img/main-restaurant.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    
}


.header-ul{
 display: flex;
 background-color: #222;
 list-style: none;
 
}

.home,.menu,.gallery,.about{
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    &:hover{
        background-color: whitesmoke;
        color: black;
    }
}

.logo{
    flex: 1;
    
}


.image{
    text-align: center;
}

.image img{
    text-align: center;
    width: 1353px;
    
}