*{
    border-radius: 5px
}

header{
    display: flex;
    align-items: center;
}

header > .logo{
    background-color: #2d2c2c;
    height: 60px;
    width: 120px;
}

header > .menu{
    list-style: none;
    display: flex;
}

.menu li {
    background-color: grey;
    height: 40px;
    width: 100px;
    margin: 15px;
}

header > .more{
    background-color: #444343;
    height: 60px;
    width: 100px;
    margin: 15px;
}

.search-bar{
    background-color: #191818;
    height: 30px;
    width: 300px;
    margin: 15px;
}

.title{
    display: flex;
}

.blank, .title-text, .why-red{
    flex: 1;
    

}

.blank{
    background-color: #ffffff;
    width: 10%;
    height: 40px
}

.title-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 60px,
}

.why-red{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.why-red > .one{
    background-color: #847e7e;
    height: 60px;
    width: 50px;
}

.why-red > .two{
    background-color: #b5b3b3;
    height: 60px;
    width: 300px;
}

.top-text, .bottom-text{
    background-color: black;
    color: white;
    font-size: 34px;
    text-align: center;
    height: 50px;
    padding: 10px;

}

.bottom-text{
    display: inline-block;
    text-align: center;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    background-color: white;
}

.item {
    background-color: #f3eeee;
    width: auto;
    height: 100%;
}

.item-header{
    display: flex;
    
}

.icon, .user-name{
    background-color: #444343;
    
}

.icon{
    width: 50px;
    height: 50px;
}
.user-name{
    width: 300px;
    height: 20px;
}



.item-title > h5{
    background-color: gray;
    font-size: 20px;
    width: 50%;
}
