*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #b3b3af;
    width: 80%;
    margin: 30px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book-form {
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

.book-form form{
    padding: 20px 20px;
    background-color:#4d567d;
    color: white;
    border-radius: 4px;
    
}

#submit{
    margin-top: 15px;
}

#submit, .new-book-btn{
    height: 40px;
    width: 85px;
    border: none;
    border-radius: 2px;
    background: #402963;
    color: white;
}

.new-book{
    text-align: center;
    margin-bottom: 30px;
}

.library{
    margin-top: 10px;
}

.book div{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.book{
    display: flex;
    background-color: #4d567d;
    border-radius: 2px;
    margin-bottom: 3px;
    color: white;
}

.library-headers{
    display: flex;
    flex-flow: row wrap;
    background-color: #4d567d;
    padding: 5px 0px;
    border-radius: 2px;
    color: white;
    }

.header{
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1rem;
    
}

#title, #author, #pages{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 26px;
    border: none;
}

.title,.author,.pages {
    flex-grow: 1;
    flex-basis: 0;
    align-self: center;
}

.read{
    width: 135px;

}
.delete{
    width: 115px;
}

.read, .delete{
    text-align: center;
}

.book:hover{
    background-color: #4d507d;
}

button:hover, #submit:hover{
    background: #7035c9;
}

.delete-button:hover{
    background-color: rgb(201, 37, 37);
}

.div-read-button{
    width: 135px;
    justify-content: center;
}

.div-delete-button{
    width: 115px;
    justify-content: center;
}

.delete-button, .read-button{
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 2px;
    background: #402963;
    color: white;
    padding: 0px 10px;
}

