*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(236, 238, 241);
}

.form-container{
    display: inline-block;
    background: white;
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 30%;
    border: solid 1px#c1c5c8;
    padding-top: 50px;
    color: #404040;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.form-container, .form-header, footer{
    text-align: center;
}

.form-container h3{
    font-size: 24px;
}

.form-header, footer{
    
    width: 320px;
    padding: 10px;
    
}

footer{
    padding-bottom: 40px;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

form{
    display: inline-block;
}

fieldset{
    text-align: left;
    border: none;
}


.form-container h3, .email{
    margin-top: 30px;
}

form button, fieldset{
    margin-bottom: 30px;
}

form button{
    width: 290px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background: #0077c5;
    color: white;
}

input{
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: solid 1px#c1c5c8;
    border-radius: 3px;
}

.form-container a{
    font-size: 14px;
    text-decoration: none;
    color: #0077c5;
}

.form-container a:hover{
    text-decoration: underline;
}