*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



body{
    font-family: 'Oswald', sans-serif;
}

/* Header */

.header{
    display: inherit;
    flex: 1;
    justify-content: space-between;
}

.main-header, .second-header, .register-free{
    padding: 0px 10px;
}

.main-header{
    background-color: black;
    color:  rgb(158, 154, 154);
    font-size: 14px;
    
}

.second-header{
    color: rgb(158, 154, 154);
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 10px;
}

.header li{
    display: inline;
    margin-right: 10px;
}

.flex{
    display: flex;
}

li{
    list-style: none;
    margin: 0px;
}

.register-free{
    font-size: 14px;
    background-color: #fd3;
   
}

/* main grid */

.main-grid{
    margin: 0px;
    display: grid;
    margin: 2px 10px;
    height: 60vh;
    gap: 10px;
    grid-template-areas: "b b  a"
                         "b b  c";
    
}

.main-grid > .big-div{
    grid-area: b;
    background-image: 
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/11/Twitter_stock-796x418.jpg');
    max-width: 100%;
    max-height: 100%;
    
    
}

.main-grid > .small-div-a{
    grid-area: a;
    background-image: 
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/cc_series_empty-1200x628.jpg');
}
.main-grid > .small-div-c{
    grid-area: c;
    background-image: 
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/TLOUPII_Review_Screenshot_13-796x448.jpg");
}

.flex-end{
    display: inline-flex;
    align-items: flex-end;
}

.image-fill{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.news-text{
    display: inline;
    font-size: 45px;
    max-width: 95%;
    
}

.news-text h6, .small-news-text h6{
    font-size: 20px;
}

.news-text ul, .small-news-text ul{
    font-size: 14px;
    color: gray;
}

.small-news-text{
    font-size: 25px;
    max-width: 90%;
}

.news-text, .small-news-text{
    
    color: white;
    margin: 10px;
}

@media screen and (max-width:800px){
    .main-grid{
        grid-template-areas: "b"
                             "a"
                             "c";
    }

    .news-text{
        font-size: 25px;
    }
}

/* segundo grid */
.latest-news-title{
    margin: auto 10%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: orangered;
}

.latest-news-grid{
    margin: auto 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
    row-gap: 10px;
}

.article{
    float: left;
}

.article li{
    font-size: 12px;
    margin-right: 5px;
}

.article img{
    
    height: 20vh;
}

@media screen and (max-width:800px){

    .latest-news-title{
        margin: 0;
        margin-top: 50px;
        padding-left: 20px;
    }

    .latest-news-grid{
        grid-template-columns: 1fr;
        margin: 0;
    }

    .article{
        display: flex;
        height: 10vh;
        align-items: center;
        padding-left: 10px;
    }

    .article img{
        width: 75px;
        height: 75px;
    }
    
    .article h4, .article ul{
        padding-left: 10px;
    }

    .article h4{
        width: 60%;
        font-weight: 300;
    }

    
}