* {
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(255, 255, 240);
}

.position{
    position: absolute;
    top: 10%;
    left: 40%;
    }

.game {
    display: grid;
    grid-template-areas:"infoLog"
                        "selectBtns"
                        "playBtn"
                        "resetBtn";
    border: solid 2px black;
    border-radius: 4px;    
    grid-template-columns: 220px;
    grid-template-rows: 100px;
    justify-content: center;
    
    }

.points{
    background-color: rgb(31, 101, 231);
    grid-area: infoLog;
    border: solid 2px black;
    padding-top: 3px;
    }

.select{
    background-color:rgb(31, 101, 231);
    grid-area: selectBtns;
    padding: 5px;
    border: solid 2px black;
}

.control1{
    background-color: rgb(31, 101, 231);
    grid-area: playBtn;
    padding: 5px;
    border: solid 2px black;
}

.control2{
    background-color: rgb(31, 101, 231);
    grid-area: resetBtn;
    padding: 5px;
    border: solid 2px black;
}

.pScore, .cScore, .outcome {
    color: white;
    text-align: center;
}

.select, .play, .reset{
    text-align: center;
}

button{
    border: none;
    border-radius: 4px;
    background-color: rgb(226, 201, 191);
    color: black;
    border: solid 1px rgb(7, 7, 7);
    height: 30px;
    width: 60px;
}
