.ship-selection{
    display: flex;
    justify-content: space-evenly;
    margin: 6vh 36vh;
}

.ship-tile{
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 1px solid black;
}