*{
    margin: 0px;
    padding: 0px;
}




.nav-bar{
    
    text-align: center;
    background: url('./img/your_verse_hero.jpg') 50% 100% no-repeat ;
    
    height: 538px;
    
}

.nav-bar ul{
    display: inline-flex;
    
    margin-top: 75px;
    background: rgb(98,97,97);
    background: linear-gradient(180deg, rgba(98,97,97,1) 50%, rgba(126,124,124,1) 50%);
    height: 35px;
    border-radius: 3px;
    
    
    
}

.nav-bar li{
    padding: 6px 30px;
    list-style: none;
    
    }

    .apple, .store, .mac, .ipod, .iphone, .ipad, .itunes, .support{
        border-right: solid rgb(71, 71, 71) 1px;
    }


.nav-bar li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    
}

.apple{
    width: 44px;
}

.apple span img{
   height: 20px;
}



.title{
    height: 120px;
    overflow: hidden;
}
.verse{
    height: 75px;
    overflow: hidden;
}

.titles img{
    justify-content: center;
    margin-top: 30px;
    padding: 10px ;
}



.publicity-list{
    display: flex;
    justify-content: center;
    }

.publicity-list li{
    
    width: 360px;
    overflow: hidden;
}

footer{
    font-size: 10px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.shop{
    align-self: center;
}

.footer-nav{
    float: right;
}

.footer-nav ul{
    padding: 0%;
    display: inline-flex;
    
}

.footer-nav li{
    padding: 5px;
    list-style: none;
}

.footer-nav a{    
    text-decoration: none;
    color: #08c;
   
}

.footer-nav a:hover{
    text-decoration-line: underline;
}